<div class="kanban-item" data-id="{{id}}">
    <div class="kanban-item-title">
        {{#if intentLabel}}
        <span class="badge {{intentBadgeClass}} mr-2" style="font-size: 0.7rem;">{{intentLabel}}</span>
        {{/if}}
        {{title}}
    </div>
    <div class="kanban-item-meta">
        {{modelType}} | {{createdDate}}
    </div>
    <div class="kanban-item-actions kanban-item-action">
        {{#if showPublish}}
        <button type="button" class="btn btn-primary btn-sm kanban-btn-publish" data-id="{{id}}">Publish</button>
        {{/if}}
        {{#if showClose}}
        <button type="button" class="btn btn-secondary btn-sm kanban-btn-close" data-id="{{id}}">Close</button>
        {{/if}}
    </div>
</div>
